footer {
    .form-email {
        background-image: linear-gradient(to right, #303743, #39484f, #495858, #5e6862, #757770);
        padding: 5px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        .email-label {
            color: map-get($colores, color1 );
            font-size: 14px;
            font-weight: 500;
            padding-right: 10px;
            display: flex;
            text-align: center;
            width: 70%;
        }
        #email {
            height: 25px;
            width: 50%;
        }
        ::placeholder{
            text-align: center;
            font-size: 12px;
        }
        .send {
            padding: 5px 5px;
            background-color: map-get($colores, color2 );
            color: map-get($colores, color1 );
            font-size: 11px;
            border: none;
            margin-left: 5px;
            &:hover{
                background-color: map-get($colores, color1 );
                color:map-get($colores, color2 );
            }
        }
    }
    section {
        i {
        text-align: center;
        font-size: 18px;
        padding: 5px;
        color: map-get($colores, color2 );
        }
    }
    .footerSection {
        text-align: center;
        padding: 5px;
        a {
            text-decoration: none;
            .fa-facebook, .fa-instagram, .fa-youtube{
                font-size: 20px;
                color: map-get($colores, color2 );
            }
        }
        .footer-name {
            color: map-get($colores, color1 );
            margin-bottom: 2%;
            font-size: 18px;
            font-weight: 600;
            margin-top: 2px
        } 
        .contact-style{
            font-size: 10px;
            margin-left: 5px;
            margin-bottom: 5px;
            color: map-get($colores, color2 );
        }
    }
    .copyring-style{
        font-size: 10px;
        margin-left: 5px;
        color: map-get($colores, color2 );
        margin-bottom: 0;
    }
}
