.mainCarrito {
    margin-top: 10px;

    .carritoCompras {
        margin-top: 50px;
        width: 90%;
        margin: 0 auto;
        img {
            box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.5);
            margin-bottom: 20px;
        }

        .descripcion{
            font-size: 16px; 
            font-style: italic;
            margin-left: 10px;
            text-align: center;
            width: 90%;

            .prices-style{
                color: map-get($colores, color2 );
                font-style: normal;
                padding-top: 5px;
            }
            
            .discount-style{
                color: $color-discount;
            }
        }
        .center {
            text-align: center;
            .cantidad{
                width: 20%;
                text-align: center;
            }
        }
        i {
            text-align: center;
            font-size: 18px;
            padding: 5px;
            color: map-get($colores, color2 );
            border: none;
            outline: none;


            background-color: rgba(128, 128, 128, 0.283);
        }
        input {
            margin: 5px;
        }
    }

}

.input-center{
    text-align: center;
    margin-right: 25%;
    
    .button-pago{
        font-weight: 600;
        width: 60%;
        background-color: #00A650;
        color: map-get($colores, color1 );
        text-align: center;
        margin-left: 30%;
        border: none;
        &:hover{
            background-color: #00cb62df;
            color: map-get($colores, color2 );
        }
    }
    
    .continuar-comprando{
        color: map-get($colores, color1 );
        font-weight: 600;
        width: 60%;
        background-color: hsla(264, 71%, 67%, 0.865);
        text-align: center;
        margin-left: 30%;
        border: 1px solid hsl(264, 71%, 67%);
        &:hover{
            background-color: hsl(264, 71%, 67%);
            color: map-get($colores, color2 );
        }
    }

    input {
        margin: 5px;
    }
    
    
}